---
// can't seem to find a way to reliably extract
// that from Astro.site or similar
// const baseurl = '/intro/'
const baseurl = '/'

interface Props {
    label: string
    file: string
}

const { label, file } = Astro.props

const has_file = file && (file.length > 0)

const url = has_file ? `${baseurl}${file}#${label}` : `#${label}`

---

<a href=`${url}` class="labeled link">
    <slot />
</a>
